/* nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

.nav-heading a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-title {
    font-size: 2.2rem;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links ul li a {
    font-size: 1.2rem;
    color: #000;
}

.menu-icon-image {
    width: 3rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.menu-icon {
    display: none;
}

/* banner styles */

.banner-container {
    background-image: url("../Images/Group13.png"),
        linear-gradient(#302a2a, #4b4747);
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.banner-title {
    font-size: 4rem;
    color: white;
}

.banner-description {
    font-size: 1rem;
    line-height: 1.2rem;
    color: white;
}

.banner-content {
    width: 800px;
    height: 290px;
}

.banner-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-radius: 1rem;
}

.banner-card {
    padding: 1rem;
    background-color: aliceblue;
    width: 175px;
    height: 50px;
    border-radius: 1rem;
}

/* responsive the nav styles */
@media screen and (max-width: 576px) {
    .nav-container {
        padding: 1.5rem 1rem;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
    }
}
