* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    max-width: 1170px;
    margin: 0 auto;
}

.orange-color {
    color: #ff5400;
}

.primary-btn {
    width: 10rem;
    height: 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #ff5400;
    font-weight: bold;
}

.orange-background {
    background-color: #c24020;
}

.half-width {
    width: 50%;
}
