.why-choose-header {
    text-align: center;
    margin-bottom: 2rem;
}

.why-choose-header h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.why-choose-card-image {
    width: 4rem;
    height: 4rem;
}

.why-choose-card-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-choose-card-second-row .card{
    margin: 20px auto;
    
}

.card {
    width: 570px;
    height: 280px;
    padding: 3rem 2rem;
    background-color: bisque;
    border-radius: 2rem;
}

.card h6 {
    font-size: 40px;
    margin-bottom: 20px;
}
